.masthead{
	text-align:center;
	background-color:#d9534f;
	padding:80px 0;
	color:#fff;
}

.masthead .btn-outline-inverse{
	color: #fff;
	background-color: transparent;
	border-color: #fdd;
	margin:3rem 0;
}