body {
	font-family:'Open Sans',sans-serif;
	font-size:14pt;
}

.panel-title {
	font-size: 18pt;
}

h1, h2, h3, h4, h5, h6 {
	font-family:'Oswald', Verdana, sans-serif;
	line-height:1.2;
	margin:50px 0 10px 0;
}
h1, h2 {
	text-transform:uppercase;
	font-size:48pt;
}
h2 {
	font-size:30pt;
}

p {
	margin-bottom:20px;
}

.mainnav {
	margin-bottom:0;
}
.mainnav a
{
	color:#000;
	font-size:12pt;
}
.mainnav .icon-bar
{
	background-color:#a40016;
}

.masthead{
	text-align:center;
	background-color:#a40016;
	padding:20px 0;
	color:#fff;
}

.masthead .btn-outline-inverse{
	color: #fff;
	background-color: transparent;
	border-color: #fdd;
	margin:3rem 0;
}

.masthead .btn-outline-inverse:hover{
	color:#a40016;
	background-color:#fff;
}

.masthead a {
	color:#fff;
}

.callout
{
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.callout > .form-group:last-child{
	margin-bottom:0;
}