.mainnav {
	margin-bottom:0;
}
.mainnav a
{
	color:#a40016;
}
.mainnav .icon-bar
{
	background-color:#a40016;
}

.masthead{
	text-align:center;
	background-color:#a40016;
	padding:20px 0;
	color:#fff;
}

.masthead .btn-outline-inverse{
	color: #fff;
	background-color: transparent;
	border-color: #fdd;
	margin:3rem 0;
}

.masthead .btn-outline-inverse:hover{
	color:#a40016;
	background-color:#fff;
}

.callout
{
	padding: 20px;
	margin: 20px 0;
	border: 1px solid #eee;
	border-left-width: 5px;
	border-radius: 3px;
}

.callout > .form-group:last-child{
	margin-bottom:0;
}