.individual-classes
{
	margin-bottom:0;
	display:none;
}

.individual-classes label
{
	white-space:nowrap;
}

.row .form-group.cc-smallnumbers {
	margin-right:-30px;
	margin-left:-30px;
}

label {
	font-weight:normal;
}

.debitnumbers label {
	font-size:12pt;
}

.alert-warning {
	font-size:12pt;
	padding:5px;
	margin-bottom:0;
}
