.individual-classes
{
	margin-bottom:0;
	display:none;
}

.individual-classes label
{
	white-space:nowrap;
}

.row .form-group.cc-smallnumbers {
	margin-right:-30px;
	margin-left:-30px;
}

label {
	font-weight:normal;
}

.debitnumbers label {
	font-size:12pt;
}

.alert-warning {
	font-size:12pt;
	padding:5px;
	margin-bottom:0;
}

.blackoutPeriodError
{
	position: absolute;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
	display;none;
}

.blackoutPeriodError p
{
	max-width: 70%;
	border: 2px solid black;
	background-color: white;
	color: red;
	padding:15px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    position: absolute;
}