.form-group.individual-classes
{
	margin-bottom:0;
	display:none;
}

.individual-classes label
{
	white-space:nowrap;
}

.row .form-group.cc-smallnumbers {
	margin-right:-30px;
	margin-left:-30px;
}

.masthead
{
	padding: 20px 0;
}